<div class="wrapper">

    <!--No muy recomendado para dar estilos, pero no hay tiempo:v-->
    <style>
        i,small,.font-weight-bold{
            color:#404C4A !important;
        }    
    </style>

    <nav id="sidebar" class="sidebar" style="background:b0b0b0 !important">
        <a class="sidebar-brand" href="index.html">
      <svg>
        <use xlink:href="#ion-ios-pulse-strong"></use>
      </svg>
      Rokasa-Inicio
    </a>
        <div class="sidebar-content">
            <div class="sidebar-user">
                <img src="../../../assets/img/faviFerreteria.png" class="img-fluid rounded-circle mb-2"  />
                <div class="font-weight-bold">Rokasa</div>
                <small>Usuario-Rokasa</small>
            </div>

            <ul class="sidebar-nav">
                <!-- <li class="sidebar-header">
                    Main
                </li> -->
                <li class="sidebar-item" *ngIf="identity.role == 'Administración'" routerLinkActive="sidebar-item active">
                    <a class="sidebar-link" [routerLink]="['/dashboard']">
                        <i class="align-middle mr-2 fas fa-fw fa-home"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                
                
                <li class="sidebar-item" *ngIf="identity.role == 'Administración'" routerLinkActive="sidebar-item active">
                    <a class="sidebar-link" [routerLink]="['/usuarios']">
                        <i class="align-middle mr-2 fas fa-users fa-fw"></i> <span class="align-middle">Usuarios Rokasa</span>
                    </a>
                </li>
                <li class="sidebar-item" *ngIf="identity.role == 'Administración' || identity.role == 'Ventas'" routerLinkActive="sidebar-item active">
                    <a class="sidebar-link" [routerLink]="['/clientes']">
                        <i class="align-middle mr-2 fas fa-address-book fa-fw"></i> <span class="align-middle">Clientes</span>
                    </a>
                </li>
                
                <li class="sidebar-item" *ngIf="identity.role == 'Administración'||identity.role == 'Inventario'|| identity.role=='Ventas'" routerLinkActive="sidebar-item active">
                    <a class="sidebar-link" [routerLink]="['/productos']">
                        <i class="align-middle mr-2 fas fa-warehouse fa-fw"></i> <span class="align-middle">Inventario</span>
                    </a>
                    
                </li>
               
                <li class="sidebar-item" *ngIf="identity.role == 'Administración'||identity.role == 'Ventas'" routerLinkActive="sidebar-item active">
                    <a class="sidebar-link" [routerLink]="['/ventas']">
                        <i class="align-middle mr-2 fas fa-shopping-cart fa-fw"></i> <span class="align-middle">Ventas</span>
                    </a>
                </li>
                <li class="sidebar-item" *ngIf="identity.role == 'Administración'" routerLinkActive="sidebar-item active">
                    <a class="sidebar-link" [routerLink]="['/proveedores']">
                        <i class="align-middle mr-2 fas fa-truck-loading fa-fw"></i> <span class="align-middle">Proveedores</span>
                    </a>
                </li>
                <li class="sidebar-item" *ngIf="identity.role == 'Administración'||identity.role == 'Inventario'" routerLinkActive="sidebar-item active">
                    <a class="sidebar-link" [routerLink]="['/pedidos']">
                        <i class="align-middle mr-2 fas fa-clipboard fa-fw"></i> <span class="align-middle">Pedidos</span>
                    </a>
                </li>
                <li class="sidebar-item" *ngIf="identity.role == 'Administración'||identity.role == 'Inventario'"  routerLinkActive="sidebar-item active">
                    <a class="sidebar-link" [routerLink]="['/entregas']">
                        <i class="align-middle mr-2 fas fa-clipboard-check fa-fw"></i> <span class="align-middle">Entregas</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" (click)="logout()">
                        <i class="align-middle mr-2 fas fa-sign-out-alt fa-fw"></i> <span class="align-middle">Cerrar Sesión</span>
                    </a>
                </li>
                
                
            </ul>
        </div>
    </nav>
</div>