<div class="wrapper">
     <!--No es recomandado dar estilos así, pero no hay tiempo :v-->
     <style>
        table,.card-title,.header,.dropdown-menu{
            color:#404C4A ;
        }
    </style>
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Entregas
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <!-- <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li> -->
                            <li class="breadcrumb-item"><a>Entregas</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                   
                                    <div class="col-lg-6" >
                                    
                                        <a [routerLink]="['/entrega/registrar']"  class="btn btn-primary" >Registrar entrega</a>
                                    </div>
                                </div>
                                
                            </div>
                            <table class="table table-striped table-hover">
                                <thead style="background-color:#404C4A;color: blanchedalmond">
                                    <tr>
                                        <th>Código del pedido</th>
                                        <th>Fecha</th>
                                        <th>Trabajador</th>
                                        <th>Estado</th>                                       
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of entregas | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td>
                                           {{item.idpedido._id}}
                                        </td>
                                        <td>{{item.fecha | date: 'MMM d, y, h:mm:ss a'}}</td>
                                        <td>
                                           {{item.iduser.nombres}} {{item.iduser.apellidos}}
                                        </td>
                                        <td>
                                            <b>{{item.estado}}</b>

                                        <td>
                                            <div class="btn-group">
                                                <button style="background-color: #EB8038;color:blanchedalmond" type="button" class="btn mb-1 btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" [routerLink]="['/entrega/',item._id]" >Detalle de entrega</a>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </main>
       
    </div>
</div>

